<head>
    <title>Handson</title>
</head>
<body>
    <h5>Node,Express,MongoDB Hands-on</h5>
    <form action="/friends" method="POST">
        <table>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="name" required></td>
            </tr>
            <tr>
                <td><label for="dob">Dob:</label></td>
                <td><input type="date" id="dob" name="dob" required></td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td><input type="number" id="age" name="age" required></td>
            </tr>
            <tr>
                <td><label for="native">Native:</label></td>
                <td><input type="text" id="native" name="native" required></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
        <button type="submit">Delete</button>
        <button type="submit">Get records age > 20</button>
    </form>
</body>
</html>
